body {
    padding-bottom: 30px;
}
.container {
    max-width:1200px ;
    height: 100%;
    width: 60%;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 30px;
    margin: auto auto;
    border: black 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}
.dhl-image{
    display: block;
    margin: auto auto;
}
.sub-container {
    width: 90%;
    margin: auto auto;
}
.sub-boxes {
    border: black 2px solid;
    display: flex;
    justify-content: space-around;
}
.order-id {
    font-size: 20px;
    margin-bottom: 3px;
}
.boxes-text {
    flex: 1 ;
    font-size: 26px;
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
}
.boxes-border {
    border-right: black solid 2px;
}
.qr-container {
    margin: 10px;
    display: flex;
}
.qr-code-box {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: auto auto;
}
.sender-box {
    flex: 2;
}
.sender-tag {
    font-size: 22px;
    font-weight: bold;
}
.sender-add{
    width: 60%;
    height: auto;
}
.ship-box {
    width: 86%;
    margin: auto auto;
}
.reciever {
    font-size: 20px;
    font-weight: lighter;
}
.ship-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
.ship-to-name {
    font-size: 20px;
    font-weight: lighter;
}
.ph-box {
    width: 60%;
    margin: auto auto;
    display: flex;
    justify-content: space-between;

}
.ph-number, .cod {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 4px;
}
.barcode-image {
    display: block;
    margin: auto auto;
}
.id-text {
    margin: 8px auto;
    text-align: center;
}
.dhl-id{
    font-size: 20px;
    font-weight: lighter;
}
.id-number {
    font-size: 20px;
    font-weight: lighter;
}